<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Mageprince_MageAI::mp_mageai" title="Mageprince MageAI" translate="title">
                        <resource id="Mageprince_MageAI::actions" title="Actions" translate="title">
                            <resource id="Mageprince_MageAI::generate" title="Generate text" translate="title"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mageprince_MageAI::configuration" title="Mageprince MageAI Settings" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
